body{
  /* background-color: red; */
}

.onze-header{
  padding:0;
}

#UpdateRecipeTable, .delete.recipe, .find.recipe{
  border: 1px solid #555;
  margin-top: 20px;
  padding: 20px;
  border-radius: 12px;
}

#UpdateRecipeTable{
  display: none;
}

.col{
  border: 1px solid #000;
}

.navbar{
  border-bottom: 1px solid #666;
}


.header{
  width: 100%;
  height: 60vh;
  background:#f06;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.search{
  background: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.search .input-group{
  width:30%;
  max-width: 300px;
}
